{% load i18n staticfiles core_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="FitLog">
  <meta name="author" content="Yannick Chabbert">

  <title>{% block title %}{{ title | default:"FitLog" }}{% endblock %}</title>

  <link href="{% static 'sb-admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'sb-admin/css/sb-admin.css' %}" rel="stylesheet">

  {% block extrastyle %}{{ form.media.css }}{% endblock %}
  {% block extrahead %}{% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

<body id="page-top">
  {% include 'navbar.html' %}

  <div id="wrapper">
    {% include 'sidebar.html' %}

    <div id="content-wrapper">
      <div class="container-fluid">

        {# Backend messages #}
        {% for message in messages %}
        <div class="alert alert-{{ message.level|alert_type }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}

        <div id="app">
          {# Frontend messages #}
          <div v-for="message in messages" v-bind:class="'alert alert-' + message.type + ' alert-dismissible fade show'" role="alert">
            [[ message.text ]]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include 'logout.html' %}

  <script src="{% static 'sb-admin/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'sb-admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'sb-admin/js/sb-admin.min.js' %}"></script>

  <script src="{% static 'vue/dist/vue.js' %}"></script>
  <script src="{% static 'vue-cookies/vue-cookies.js' %}"></script>
  <script src="{% static 'axios/dist/axios.js' %}"></script>

  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

  {% block extrabody %}{% endblock %}
</body>

</html>
