{% load i18n %}

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">{% trans 'Log out?' %}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">{% trans 'Are you sure to logout?' %}</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <a class="btn btn-primary" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
      </div>
    </div>
  </div>
</div>
