{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Exercises' %}{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    {% trans 'Exercises' %}
  </div>
  <div class="card-body">
    <div class="table-responsive">

      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for exercise in object_list %}
          <tr>
            <td>{{ exercise.name }}</td>
            <td><a href="#">{% trans 'Delete' %}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
