{% load i18n %}

<div v-for="resource in resources" class="modal fade" tabindex="-1" role="dialog" v-bind:id="'modal-delete-' + resource.id">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans 'Delete' %} [[ resource.name ]]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{% trans 'Are you sure you want to delete it?' %}</p>
        <p>[[ resource.name ]]</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-danger" v-on:click="deleteResource(resource)" v-bind:disabled="deleting">
          <span v-if="!deleting" >{% trans 'Delete' %}</span>
          <span v-if="deleting">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {% trans 'Wait...' %}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>