{% extends 'training/resource_list.html' %}
{% load i18n static %}

{% block title %}{% trans 'Routines' %}{% endblock %}
{% block table_title %}{% trans 'Routines' %}{% endblock %}

{% block extrabody %}
{{ block.super }}

<script type="text/javascript">
  const app = new Vue({
    ... baseResourceApp,
    data() {
      return {
        ...baseResourceApp.data(),
        resourcePath: 'routines',
        resourceFields: {
          name: {
            type: 'string',
            default: ''
          }
        }
      }
    }
  })
</script>
{% endblock %}
