{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Trainings' %}{% endblock %}
{% block content %}
<div class="card mb-3">

  <div class="card-header">
    <i class="fas fa-table"></i>
    {% trans 'Trainings' %}
    <button v-if="!loadingTrainings"
            type="button"
            data-toggle="modal" data-target="#modal-create-resource"
            class="btn btn-link"
            v-on:click="reset()">
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div class="card-body">
    <div class="table-responsive">

      <div v-if="loadingTrainings" class="p-2">
        <div class="d-flex align-items-center">
          <strong>{% trans 'Loading...' %}</strong>
          <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </div>
      </div>

      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Date</th>
            <th>Workout</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Weights</th>
            <th>Rest</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="resource in resources" v-if="!loadingTrainings">
            <td>[[ resource.date ]]</td>
            <td v-if="resource.workout">[[ resource.workout.name ]]</td>
            <td v-if="!resource.workout"></td>
            <td>[[ resource.sets ]]</td>
            <td>[[ resource.reps ]]</td>
            <td>[[ resource.weights ]]</td>
            <td>[[ resource.rest_avg ]]</td>
            <td>
              <button type="button" class="btn btn-link" data-toggle="modal" v-bind:data-target="'#modal-detail-' + resource.id"><i class="fas fa-eye"></i></button>
              <button type="button" class="btn btn-link" data-toggle="modal" v-bind:data-target="'#modal-update-' + resource.id"><i class="fas fa-save"></i></button>
              <button type="button" class="btn btn-link" data-toggle="modal" v-bind:data-target="'#modal-delete-' + resource.id"><i class="fas fa-trash"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  {% include 'training/training_create_modal.html' %}
{#  {% include 'training/training_detail_modal.html' %}#}
{#  {% include 'training/training_update_modal.html' %}#}
  {% include 'training/resource_delete_modal.html' %}

</div>
{% endblock %}

{% block extrabody %}
<script src="{% static 'training/js/resource.js' %}"></script>
<script src="{% static 'training/js/trainings.js' %}"></script>
{% endblock %}
