{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Trainings' %}{% endblock %}
{% block content %}
{#<div class="card mb-3">#}
{#  <div class="card-header">#}
{#    <i class="fas fa-filter"></i>#}
{#    {% trans 'Filters' %}#}
{#  </div>#}
{#  <div class="card-body">#}
{#    <form v-on:submit.prevent="onSubmit">#}
{#      <div class="form-row align-items-center">#}
{##}
{#        <div class="col-auto">#}
{#          <label for="filter-date-from">{% trans 'From' %}</label>#}
{#          <input type="date" v-model="filter.dateFrom" class="form-control" id="filter-date-from">#}
{#        </div>#}
{##}
{#        <div class="col-auto">#}
{#          <label for="filter-date-to">{% trans 'To' %}</label>#}
{#          <input type="date" v-model="filter.dateTo" class="form-control" id="filter-date-to">#}
{#        </div>#}
{##}
{#        <div class="col-auto">#}
{#          <label for="filter-workout">{% trans 'Workout' %}</label>#}
{#          <select class="form-control" v-model="filter.workout" id="filter-workout">#}
{#            <option value="">--- {% trans 'Select a workout' %} ---</option>#}
{#            <option v-for="workout in workouts" v-bind:value="workout.id">[[ workout.name ]]</option>#}
{#          </select>#}
{#        </div>#}
{##}
{#        <div class="col-auto">#}
{#          <label for="filter-exercise">{% trans 'Exercises' %}</label>#}
{#          <select class="form-control" v-model="filter.workout" id="exercise">#}
{#            <option value="">--- {% trans 'Select an exercise' %} ---</option>#}
{#            <option v-for="exercise in exercises" v-bind:value="exercise.id">[[ exercise.name ]]</option>#}
{#          </select>#}
{#        </div>#}
{##}
{#        <div class="col-auto">#}
{#          <button type="button" class="btn btn-primary" v-on:click="filter()" v-bind:disabled="filtering">#}
{#            <span v-if="!filtering" >{% trans 'Filter' %}</span>#}
{#            <span v-if="filtering">#}
{#              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>#}
{#              {% trans 'Wait...' %}#}
{#            </span>#}
{#          </button>#}
{#        </div>#}
{#      </div>#}
{#    </form>#}
{#  </div>#}
{#</div>#}
{##}
{#<div class="card mb-3">#}
{#  <div class="card-header">#}
{#    <i class="fas fa-calculator"></i>#}
{#    {% trans 'Totals' %}#}
{#  </div>#}
{#  <div class="card-body">#}
{#    <table v-if="!loadingTrainings" class="table table-bordered" width="100%" cellspacing="0">#}
{#      <thead>#}
{#        <tr>#}
{#          <th>{% trans 'Total training' %}</th>#}
{#          <th>{% trans 'Total sets' %}</th>#}
{#          <th>{% trans 'Total reps' %}</th>#}
{#          <th>{% trans 'Total weights' %}</th>#}
{#          <th>{% trans 'Avg rest' %}</th>#}
{#        </tr>#}
{#      </thead>#}
{#      <tbody>#}
{#        <tr>#}
{#          <td>[[ totals.count ]]</td>#}
{#          <td>[[ totals.sets ]]</td>#}
{#          <td>[[ totals.reps ]]</td>#}
{#          <td>[[ totals.weights ]]</td>#}
{#          <td>[[ totals.avg_rest ]]</td>#}
{#        </tr>#}
{#      </tbody>#}
{#    </table>#}
{#  </div>#}
{#</div>#}

<div class="card mb-3">

  <div class="card-header">
    <i class="fas fa-table"></i>
    {% trans 'Trainings' %}
    <button v-if="!loadingTrainings"
            type="button"
            data-toggle="modal" data-target="#modal-create-resource"
            class="btn btn-link"
            v-on:click="reset()">
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div class="card-body">

    <div v-if="loadingTrainings" class="p-2">
      <div class="d-flex align-items-center">
        <strong>{% trans 'Loading...' %}</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
      </div>
    </div>

    <div v-if="!loadingTrainings" class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Workout' %}</th>
            <th>{% trans 'Total sets' %}</th>
            <th>{% trans 'Total reps' %}</th>
            <th>{% trans 'Total weights' %}</th>
            <th>{% trans 'Avg rest' %}</th>
            <th>{% trans 'Actions' %}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="resource in resources">
            <td>[[ resource.date ]]</td>
            <td v-if="resource.workout">[[ getWorkoutName(resource.workout) ]]</td>
            <td v-if="!resource.workout">{% trans 'Freestyle' %}</td>
            <td>[[ resource.sets_total ]]</td>
            <td>[[ resource.reps_total ]]</td>
            <td>[[ resource.weights_total ]]</td>
            <td>[[ resource.rest_avg ]]</td>
            <td>
              <button type="button" class="btn btn-link" data-toggle="modal" v-bind:data-target="'#modal-detail-' + resource.id"><i class="fas fa-eye"></i></button>
              <button type="button" class="btn btn-link" data-toggle="modal" v-bind:data-target="'#modal-update-' + resource.id"><i class="fas fa-save"></i></button>
              <button type="button" class="btn btn-link" data-toggle="modal" v-bind:data-target="'#modal-delete-' + resource.id"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      {% include 'training/pager.html' %}
    </div>
  </div>

  {% include 'training/training_create_modal.html' %}
  {% include 'training/training_detail_modal.html' %}
  {% include 'training/training_update_modal.html' %}
  {% include 'training/resource_delete_modal.html' %}

</div>
{% endblock %}

{% block extrabody %}
<script type="text/javascript">
  // Haha, native Javascript really sucks!! So complicated to just format a date...
  var dateToday = "{{ date_today|date:"Y-m-d" }}";
</script>
<script src="{% static 'training/js/resource.js' %}"></script>
<script src="{% static 'training/js/trainings.js' %}"></script>
{% endblock %}
