{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Workouts' %}{% endblock %}
{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    {% trans 'Workouts' %}
  </div>
  <div class="card-body">
    <div class="table-responsive">

      <div v-if="!loadingRoutines && !loadingExercises">
        <button v-on:click="reset()" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-create-resource">
          <i class="fas fa-plus"></i>
        </button>
      </div>

      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Routine</th>
            <th>Exercises (sets / reps / rest)</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="loadingWorkout || loadingRoutines || loadingExercises">
            <td colspan="4">
              <div class="d-flex align-items-center">
                <strong>{% trans 'Loading...' %}</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
              </div>
            </td>
          </tr>
          <tr v-for="resource in resources" v-if="!loadingWorkout && !loadingRoutines && !loadingExercises">
            <td><a v-bind:href="resource.url">[[ resource.name ]]</a></td>
            <td>[[ resource.routine.name ]]</td>
            <td>
              <ul v-for="workout_exercise in resource.workout_exercises">
                <li>[[ workout_exercise.exercise.name ]]: [[ workout_exercise.sets ]] / [[ workout_exercise.reps ]] / [[ workout_exercise.rest_period ]]</li>
              </ul>
            </td>
            <td>
              <button type="button" class="btn btn-link" data-toggle="modal" v-bind:data-target="'#modal-update-' + resource.id"><i class="fas fa-save"></i></button>
              <button type="button" class="btn btn-link" data-toggle="modal" v-bind:data-target="'#modal-delete-' + resource.id"><i class="fas fa-trash"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  {% include 'training/workout_create_modal.html' %}
{#  {% include 'training/workout_update_modal.html' %}#}
  {% include 'training/resource_delete_modal.html' %}

</div>
{% endblock %}

{% block extrabody %}
<script src="{% static 'training/js/resource.js' %}"></script>
<script src="{% static 'training/js/workouts.js' %}"></script>
{% endblock %}
