{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ workout.name }}{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'trainings:workout_list' %}">{% trans 'Workouts' %}</a>
  </li>
  <li class="breadcrumb-item active">{{ workout }}</li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    {% blocktrans with routine=workout.routine %}
    {{ workout }} ({{ routine }})
    {% endblocktrans %}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Exercise</th>
            <th>Order</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for workout_exercise in workout.workout_exercises.all %}
          <tr>
            <td>{{ workout_exercise.exercise }}</td>
            <td>{{ workout_exercise.order }}</td>
            <td>{{ workout_exercise.sets }}</td>
            <td>{{ workout_exercise.reps }}</td>
            <td><a href="#">{% trans 'Delete' %}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}